/* src/index.css */
@import './assets/styles/variables.css';
@import './assets/styles/global.css';

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg-app);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
}