/* src/assets/styles/variables.css */
:root {
  /* Colores de Marca (Unificados del Comandero y Admin) */
  --color-primary: #005696;
  --color-primary-rgb: 0, 86, 150; /* Necesario para rgba() */
  --color-primary-hover: #004477;
  --color-secondary: #64748b;

  /* Estados */
  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;

  /* Fondos y Superficies */
  --color-bg-app: #f3f4f6;
  --color-bg-card: #ffffff;
  --color-bg-muted: #f8fafc;
  --color-bg-otros: #418f71;
  /* Texto */
  --color-text-main: #090a0e;
  --color-text-muted: #42454b;
  --color-text-white: #ffffff;
  --color-text-blue: var(--color-primary-hover); /* Bordes y Sombras */
  --color-border-dark: #d1d5db;
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  --color-border: #d1d5db;

/* Tipografía y Formas */
  --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --radius-ui: 12px;     /* Elementos internos más suaves */
  --radius-button: 12px; /* Botones accesibles y redondeados */
  --radius-card: 24px;   /* Tarjetas con curvas amplias y modernas */
}
